<nav aria-label="breadcrumb">
  <ul>
    <li>
      <%= current_user.username %>'s quizzes
    </li>
  </ul>
</nav>

<article>
  <header>
    <h2>
      Add a new quiz
    </h2>
  </header>

  <form action="/insert_quiz" method="post">
    <div>
      <label for="topic_box">
        Topic
      </label>

      <input type="text" id="topic_box" name="query_topic">
    </div>

    <button type="submit">
      Create quiz
    </button>
  </form>
</article>

<article>
  <ul>
    <% @list_of_quizzes.each do |a_quiz| %>
      <li>
        <a href="/quizzes/<%= a_quiz.id %>">
          <%= a_quiz.topic %>
        </a>
      </li>
    <% end %>
  </ul>
</article>
