<h1>
  List of all quizzes
</h1>

<hr>

<article>
  <header>
    <h2>
      Add a new quiz
    </h2>
  </header>

  <form action="/insert_quiz" method="post">
    <div>
      <label for="topic_box">
        Topic
      </label>

      <input type="text" id="topic_box" name="query_topic">
    </div>

    <button type="submit">
      Create quiz
    </button>
  </form>
</article>

<hr>

<article>
  <ul>
    <% @list_of_quizzes.each do |a_quiz| %>
      <li>
        <a href="/quizzes/<%= a_quiz.id %>">
          Quiz #<%= a_quiz.id %>
        </a>
      </li>
    <% end %>
  </ul>
</article>

<hr>
